<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add a celebrity</a>
<a href="/celebrities/">Celebrities list</a>
<a href="/movies/create">Add a New Movie</a>
<a href="/movies/">Movies list</a>